@import "tailwindcss";

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";

@import "@skeletonlabs/skeleton/themes/wintry";
@import "@skeletonlabs/skeleton/themes/catppuccin";
@import "@skeletonlabs/skeleton/themes/cerberus";
@import "@skeletonlabs/skeleton/themes/concord";
@import "@skeletonlabs/skeleton/themes/crimson";
@import "@skeletonlabs/skeleton/themes/nosh";
@import "@skeletonlabs/skeleton/themes/vintage";
@import "@skeletonlabs/skeleton/themes/vox";
@import "@skeletonlabs/skeleton/themes/terminus";
@import "@skeletonlabs/skeleton/themes/seafoam";

@font-face {
    font-family: "Lobster";
    src: url("/fonts/Lobster.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Marker Gothic";
    src: url("/fonts/MarkerGothic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --font-lobster: "Lobster";
    --font-marker-gothic: "Marker Gothic";
    --font-oswald: "Oswald";
}

@layer base {
    * {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
        width: 100%;
        transition: scrollbar-color 0.3s ease-in-out;
    }

    ::-webkit-scrollbar {
        width: 0.5rem;
        border: none;
    }

    ::-webkit-scrollbar-track {
        border: none;
    }

    ::-webkit-scrollbar-thumb {
        border: none;
        background-color: var(--accent);
        border-radius: 0.25rem;
    }

    body {
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        overflow-x: hidden;
        -ms-overflow-style: none;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        flex: 0 0 auto;
    }

    main {
        flex: 1 1 auto;
    }

    footer {
        flex: 0 0 auto;
    }

    img {
        user-select: none;
        pointer-events: none;
        -webkit-user-select: none;
    }
}

@source "../node_modules/@skeletonlabs/skeleton-svelte/dist";

:root {
    --radius: 0.625rem;
}
